body {
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }

  li, ul {
    display: block;
    padding: 0;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.container {
    width: 1600px;
    height: 900px;
    margin: 0 auto;  /* позиционирование по центру */
}

.header {
    background: url(/image/header-bg.jpg) no-repeat center top / cover;
    padding: 57px; /* сдвиг падингом только для первого элемента */
    margin-bottom: 113px;
}

header a {
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
}

.menu li a {
  text-transform: uppercase; 
  font-size: 14px;
  letter-spacing: 0.1em;
}

.menu li {
  margin-right: 40px;
}

.tell {
  font-size: 17px;
  margin-left: auto;
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 69px;
}

.text01 {
  margin-top: 321px;
  margin-left: 216px;
  text-transform: uppercase;
  color: #ffff;
}

.text01 p {
  font-size: 30px;
  letter-spacing: 00.1em;
}

.text01 h1 {
  font-size: 100px;
  margin-bottom: 19px;
  letter-spacing: 0.2em;
}


.btn {
  display: flex;
  margin-left: 216px;
  width: 238px;
  height: 57px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  transition: all  0.5s ease;
}

.btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid black;
}

.section {
  margin-left: 216px;
}

.description {
  display: flex;
  justify-content: space-between;
}
.h2about {
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  margin-bottom: 58px;
}

.rts{
  font-size: 25px;
  line-height: 37px;
  margin-bottom: 19px;
}

.tdu{
  font-size: 25px;
  line-height: 37px;
  margin-bottom: 19px;
}

.des1, .des2 {
  width: 564px;
}

.description p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 1.62em;
}

.gallary {
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 60px;
  display: flex;
  margin-left: 216px;
}

.footer-text p {
  margin-right: 67px;
}











